p{
     		color: dimgrey;
     		background: lightcyan;
     		font-family: sans-serif;
     		font-smooth: revert;
     		text-align:center;
     		
     	}
     	h1{
     		color: blanchedalmond;
     		background: cornflowerblue;
     		font-family: sans-serif;


     	}